/* Global Style
----------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
h1 {
    font-size: 75px;
}

h2 {
    font-size: 25px;
}

h1, h2{
    font-family: 'Lobster Two', cursive;
    margin: 0;
}

a {
  color: aqua;
  font-weight: 600;
}
section {
    background-color: #007f5f;
    margin: 0 auto;
    padding: 50px;
    min-height: 450px;
}


/* Header
----------------------------------*/
header {
    
    color: #fbfbf2;
}

/* Site Menu
----------------------------------*/
/*
aside {
    float: left;
    padding-right: 20px;
}
*/
aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside li{
    display: block;
    width: 250px;
    height: 30px;
    background: #ffff3f;
/*    border: 1px solid #ffff3f;*/
}
aside a {
    color: #007f5f;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    padding: 4px;
    border-radius: 4px; 
    margin: 2px;
}
aside a:hover {
    font-weight: 600;
    background: rgb(43,147,72,20%);  
}

/* Experience
----------------------------------*/
#experience{
    background: #80b918;
}

#experience img {
    float: left;
    margin-right: 50px;
}

#experience h2 {
    margin-top: 0;
}

#experience ul {
    padding: 10px 0;
}

/* Technical
----------------------------------*/
#technical{
    background: #aacc00;
}

#technical img {
    float: left;
    margin-right: 50px;
}

/* Certification
----------------------------------*/
#certification {
    background: #ffff3f;
}

#certification img {
    float: left;
    margin-right: 50px;
}

/* Awards
----------------------------------*/
#awards{
    background: #ff7b00;
}

#awards img {
    float: left;
    margin-right: 50px;
}

/* Education
----------------------------------*/
#education{
    background: #dddf00;
}

#education img {
    float: left;
    margin-right: 50px;
}

/* Footer
----------------------------------*/
footer{
    background: #023047;
    color: #fbfbf2;
}